img{
  max-width: 100%;
  height: auto;
}
.navbar{
   background-color: #88d498;
}
.centimg{
  display: block;
  margin:20px auto;
  scale:auto;
}
.centre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
h2{
  margin:0% 3%
}
p{
  margin:0% 3%;
  text-align: justify;
}
.infoImageMain{
  position: relative;
  max-width: auto;
  max-height: auto;
  margin:0 auto;
}
.infoImageMain .content{
  position: absolute; /* Position the background text */
  top:0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */

}
