img{
  max-width: 100%;
  height: auto;
}
.navbar{
   background-color: #88d498;
}
.centimg, .centimg2{
  display: block;
  margin:20px auto;
  scale:auto;
}
.centimg2{
  max-width: 100%;
  max-height: 300px;
}
.centre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
h2{
  margin:0% 3%
}
p{
  margin:0% 3%;
  text-align: justify;

}
.infoImageMain{
  position: relative;
  max-width: auto;
  max-height: auto;
  margin:0 auto;
}
.infoImageMain .content{
  position: absolute;
  top:0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
::selection{
  color: white;
  background: #88d498;
}
::-moz-selection{ /* selection for firefox*/
  color: white;
  background: #88d498;
}
